<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rateye.mapper.MemberMapper">

    <!--	이메일 코드 확인-->
    <select id="getMemberEmailCode" resultType="emailCode">
        SELECT * FROM member_auth_email WHERE mem_email = #{mem_email}
    </select>

    <!--	이메일 코드 체크-->
    <select id="checkMemberEmailCode" resultType="emailCode">
        SELECT * FROM member_auth_email WHERE mem_email = #{mem_email} AND mae_key = #{mae_key}
    </select>

    <!--	이메일 코드삽입 -->
    <insert id="createMemberEmailCode">
        INSERT INTO member_auth_email VALUES (null, #{mem_email}, #{mae_key}, #{mae_type},
                                              #{mae_generate_datetime}, null, #{mae_expired})
    </insert>

    <!--	이메일 코드 재전송-->
    <update id="updateMemberEmailCode">
        UPDATE member_auth_email SET mae_key = #{mae_key}, mae_generate_datetime = #{mae_generate_datetime} WHERE mem_email = #{mem_email}
    </update>

    <!--	이메일 인증 완료-->
    <update id="updateMemberEmailCert">
        UPDATE member SET mem_email_cert = 1 WHERE mem_email = #{mem_email}
    </update>

    <!--	이메일 코드 폐기-->
    <update id="useMemberEmailCode">
        UPDATE member_auth_email SET mae_use_datetime = #{mae_use_datetime}, mae_expired = #{mae_expired} WHERE mem_email = #{mem_email}
    </update>

</mapper>
