<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
 
 <configuration>
 	<typeAliases>
        <!--  		회원 -->
        <typeAlias alias="member" type="com.rateye.domain.MemberBean"/>
        <!--  		회원 이메일 코드 -->
        <typeAlias alias="emailCode" type="com.rateye.domain.MemberAuthEmailBean"/>

	</typeAliases>
 </configuration> 